
$black = #353535
$lightgray = #F1F1F1
$gray = #B2B2B2
$green = #44BF67
$lowgreen = #84D79C
$red = #BF4444
$darkgreen = #5D9B6F
$darkred = #8E2E2E

// div 
// 	border 1px solid orange
body
	font-size 16px
	font-family 'Lato', sans-serif
	background-image url("assets/bg.jpg")
	height 100vh
	overflow-y hidden
a
	text-decoration none
a:visited
	color $black
p
	color white

h1, h2, h3, h4, h5, h6
	font-family 'Lobster', cursive
	padding 0
	margin 0

h1
	text-align center
	border-radius 20px
	font-family 'Lobster', cursive
	font-size 32px
	color $black
	background-color white
	margin 2vh 2vw
	padding 0 5vw

h2
	text-align center
	border-radius 20px
	font-family 'Lobster', cursive
	font-size 20px
	color $black
	background-color white

h1:hover, h2:hover
	text-decoration underline



header
	height 11.5vh
	width 90vw
	margin 0px auto
	border-bottom 5px solid $gray
	border-top 5px solid $gray
	margin-top 0vh
	background-repeat no-repeat
	background-color $lightgray


section
	height 85vh
	width 90vw
	margin 0px auto
	overflow hidden
	background-color $lowgreen
	box-shadow: 0x 5px 30px 4px $darkgreen;

// NAV DESIGN---------------------------------------------------------------------------------------------------
.nav
	z-index 50
	display flex
	border-bottom 8px solid $lowgreen
	height 10vh
	min-height 80px
	position fixed
	width 100vw
	margin 0px auto
	background-color white
	transition all .3s linear

	&-logo
		display flex
		flex 2
		justify-content center
		height 100%
		& img
			transition .6s linear
			height 70px
			margin 1vh 1vw
		&-text
			display flex
			flex-direction column
			&-name a
				transition .6s linear
				font-family 'Lobster', cursive
				font-size 35px
				color $black
				border-bottom 4px solid white
			&-name a:visited
				color $black
			&-name a:hover
				border-bottom 4px solid $green
				color black
			&-job
				font-family 'Lobster', cursive
				font-size 19px
				color $red
		&-text div
			margin 4px 0


	&-menu
		display flex
		justify-content center
		flex 3
		&-button
			display none

		&-list
			list-style-type none
			display flex
			justify-content center
		&-list li
			margin auto 1vh
		&-list li a
			font-family 'Lato', sans-serif
			font-weight 900
			transition .2s linear
			padding 2.5vh 2vw
			color $black
		&-list li a:visited
			text-decoration none
			color $black
		&-list li a:hover
			color white
			background-color $lowgreen
		&-list li a:active
			transition 0s
			border-bottom 3px solid $black

// HOME DESIGN----------------------------------------------------------------------------------------------------
.home-container
	transition all .3s linear
	height 88vh
	background-color $red
	box-shadow: 0px 5px 30px 4px $darkred;
	display flex
	align-items center
	justify-content center
	&-text1,&-text2
		display flex
		flex-direction column
		width 30vw
		margin 0 2vw
		text-align center
		background-color $darkred
		border-radius 20px
		& ul
			font-size 20px
			display flex
			flex-direction column
			list-style-type none
			padding-left 0px
			color white
	& h2
		text-decoration none
		transition .6s linear
		text-align center
		font-family 'Lobster', cursive
		font-size 32px
		color $black
		background-color white
		border-radius 20px
	&-text1 h2:hover,&-text2 h2:hover
		text-decoration underline
	&-image
		text-align center
		& h2
			background-color $darkred
			color white
			border-radius 20px
			margin-bottom 5vh
		& h2:hover
			background-color white
			color $black
			border-radius 50%
		& img
			width 170px
			border-radius 50%
			border 10px solid white
			margin 1vh 0
		&-know
			transition .2s linear
			padding 1vh 4vw
			border-radius 50px
			background-color white
			color $red
			font-weight 900
			border-bottom 4px solid red
		&-know:hover
			border-bottom 4px solid $black
		&-know:visited
			color $red
		&-plus
			display none

// PERSONAL DESIGN----------------------------------------------------------------------
.personal
	display flex
	justify-content center
	transition all .3s linear
	&-container
		display flex
		align-items center
		width 80vw
		&-text
			display flex
			width 80vw
			align-items center
			flex-direction column
			flex 2
			& h1
				margin 2vh 2vw
				padding 0 5vw
			&-p
				background-color $darkgreen
				border-radius 20px
				padding 3vh 3vw
				&-buttons
					display flex
					justify-content space-around
				& a
					transition .2s linear
					text-align center
					padding 1vh 3vw
					border-radius 50px
					background-color white
					color $green
					font-weight 900
					border-bottom 4px solid $green
				& a:hover
					border-bottom 4px solid $black
					color $green

		&-image
			flex 1
			margin 0 6vw
			margin-top 6vh
			border-radius 50%
			border 10px solid white

// SERVICES PAGE DESIGN-----------------------------------------------------------------------
.services-container
	display flex
	justify-content space-around
	transition all .3s linear
	&-dev, &-admin
		width 50vw
		display flex
		flex-direction column
		background-color $red
		&-text
			height 100vh
			background-color white
			justify-content space-around
			& ul
				font-size 20px
				display flex
				font-weight bold
				flex-direction column
				line-height 1.8
				list-style-type none
				padding-left 5vw
				color $black
				& i
					color $green
					padding-right 5px
				& li:hover
					& i
						color $red
					

// PROJECTS PAGE DESIGN-----------------------------------------------------------------------
.projects-container
	display flex
	justify-content space-around
	transition all .3s linear
	height 76.5vh
	&-exp
		width 100vw
		display flex
		flex-direction column
		background-color $red
		&-images
			height 90vh
			background-color white
			display flex
			flex-direction row
.imgdevrf 
	display flex
	flex-direction column
	justify-content center
	width 340px
	margin 2vh
	& img
		border 5px solid $darkgreen
		border-radius 20px
		margin 2vh


// CONNECT PAGE DESIGN-----------------------------------------------------------------------
.fadebox
	display none
	position fixed
	top 0%
	left 0%
	width 100%
	height 100%
	background-color black
	z-index 15
	opacity .80
.overbox
	display none
	position fixed
	top 25%
	left 25%
	width 50%
	height 50%
	z-index 16
	overflow auto
	background-color $darkred
	border-radius 20px
.close
	position absolute
	right 1vw
	top 1vh
	font-family 'Lato', sans-serif
	font-weight 900
	text-decoration none
	color white
.closemob
	display none
.overbox a:visited
	color $black

.connect-container
	display flex
	align-items center
	margin 1vh 1vw
	transition all .3s linear
	&-text
		display flex
		flex-direction column
		flex 2
		& a
			color white
			padding .3vh 0
		& a:visited
			color white
		& i
			margin-right 1vh
	& img
		flex 1
		border-radius 15%
		border 3px solid white
		width 50%
		height 70%
		margin-top 5vh

.fa fa-mobile fa-3x
	margin-right 5vh


// FOOTER DESIGN------------------------------------------------------------------
.footer
	padding 0 1vw
	height 10vh 
	background-color $black
	display flex
	justify-content space-between
	align-items center
	transition all .3s linear
	& a
		color white

// MOBILE/TABLET DESIGN----------------------------------------------------------------
@media (max-width: 850px)
	body
		overflow-y visible
	header
		height 82px
		visibility hidden
	section
		width 100vw
		height 100vh
	.nav
		height 90px
		display flex
		justify-content space-between
		&-logo
			flex 2
			align-items center
			padding-right 1vw
			&-text
				&-job
					font-size 18px
				&-name a
					font-size 18px
		&-menu
			flex 1
			align-items center
			position relative
			&-button
				display flex
				align-items center
				border-radius 20px
				margin-right 4vw
				padding 1vh 1vw
				height 6vh
				color $red
				background-color white
			&-list
				list-style-type none
				background-color white
				border-bottom 8px solid $red
				display none
				position absolute
				right 0vw
				top 8vh
				flex-direction column
				padding-right 8vw
				& li
					display flex
					justify-content left
					& a
						display flex
						padding 2vh 2vw
						border-bottom 3px solid white
				&--show
					display flex
					transition all .3s ease
	.home-container //HOME MOBILE-------------
		position relative
		&-text1, &-text2
			display none
			width 50vw
			position absolute
			z-index 15
			border 1px solid white
			left 26vw
			margin 2vh 0
			&--show
				display flex
			& h2
				font-size 18px
			& ul
				font-size 14px
		&-text1
			top 7vh

		&-text2
			top 33vh

		&-image
			text-align center
			&-plus
				display flex
				justify-content center
				margin-top 2vh
				width 8vw
				margin 2vh auto
				z-index 16
				& i
					color white
			&-know
				margin-top 0
		&-over
			display none
			position absolute
			top 5vh
			left 10vw
			width 80vw
			height 60vh
			z-index 14
			margin-top 2vh
			padding 1vh 1vw
			background-color $darkred
			border-radius 20px
			&--show
				display flex
	.personal-container //ABOUT ME MOBILE-------------------
		& img
			display none
		&-text
			height 80vh
	.services-container // SERVICES MOBILE----------------
		& h1
			font-size 25px
		&-dev, &-admin
			&-text ul
				font-size 15px
	.imgdevrf
		width 40vw
		& img
			height 17vh
	.imgdevjq
		width 35vw
	.overbox
		top 25%
		left 5%
		width 90%
		height 50%
	.close
		display none
	.closemob
		display flex
		position absolute
		right 3vw
		top 45vh
		font-family 'Lato', sans-serif
		font-weight 900
		text-decoration none
		color white
	.projects-container //PROJECTS MOBILE--------------
		height 72vh
	.connect-container //CONNECT MOBILE----------------
		&-text
			padding 1vh 1vw
		& img
			display none

// border 1px solid orange
// helvetica
// transition .6s linear
